@inject IUserManager UserManager

@page "/ChangePassword"
<h3>ChangePassword</h3>

<buton class="btn btn-primary" @onclick="DisplayPasswordInfo">@passwordButtonName</buton>
<br />
<br />
@if (showPasswordInfo)
{

<EditForm Model="UpdatedUser" OnValidSubmit="UpdatePassword">
<DataAnnotationsValidator/>
    <div>
        <label>Old password:</label>
        <InputText @bind-Value="UpdatedUser.OldPassword" placeholder="Old Password" class="form-control"></InputText>
    </div>
    <br />
    <div>
        <label>New password:</label>
        <InputText @bind-Value="UpdatedUser.NewPassword" placeholder="New Password" class="form-control"></InputText>
    </div>
    <br />
    <div>
        <label>Confirm new password:</label>
        <InputText @bind-Value="UpdatedUser.NewPasswordConfirmed" placeholder="Confirm Password" class="form-control"></InputText>
    </div>
    <br />
    <div>
        <button class="btn btn-primary" type="submit" >Change password!</button>
    </div>
<ValidationSummary/>
</EditForm>
}
@message


@code {


    private bool showPasswordInfo = false;
    public PasswordDTOModel UpdatedUser { get; set; } = new();
    private string passwordButtonName = "Change Password";
    private string message = "";

    //ChangePassword button
    private void DisplayPasswordInfo()
    {
        if(!showPasswordInfo)
        {
            showPasswordInfo = true;
            passwordButtonName = "Hide";

        }
        else if(showPasswordInfo)
        {
            showPasswordInfo = false;
            passwordButtonName = "Change Password";
        }

    }

    private void UpdatePassword()
    {
        UpdatedUser.Username = "Lelle"; //här ska activeUser.Username in!
        UserManager.UpdatePassword(UpdatedUser);
    }


}
