@page "/"
@inject IUserManager UserManager
@inject Blazored.LocalStorage.ILocalStorageService localStore

<PageTitle>Sign In</PageTitle>

<h1>Welcome to FORA</h1>
<br />

<h3>Sign in</h3>
<EditForm Model="User" OnValidSubmit="SignInUser">
    <DataAnnotationsValidator/>
    <div>
        <label>Username:</label>
        <InputText @bind-Value="User.Username" placeholder="Username" class="form-control mb-2"></InputText>
    </div>
     <div>
        <label>Password:</label>
        <InputText type="password" @bind-Value="User.Password" placeholder="Password" class="form-control mb-2"></InputText>
    </div>
     <div>
        <button type="submit" class="btn btn-primary">Sign In</button>
        <a href="SignUp">Not a member? Sign up here!</a>
     </div>
     @*<div>
        <InputText type="password" @bind-Value="User.VerifiedPassword" class="form-control mb-2" hidden>@User.Password</InputText>
    </div>*@
    <ValidationSummary/>
</EditForm>


@code{
    public UserDTOModel User { get; set; } = new();

    private async Task SignInUser()
    {
        var token = await UserManager.SignInUser(User);
    }
}