@page "/"
@inject IUserManager UserManager
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Sign In</PageTitle>

@if (SignedIn == true)
{
    <div class="navbar">
        <a href="#MyPage">My Page</a>
        <a href="#AllInterests">All Interests</a>
        <a href="#Settings">Settings</a>
        <a href="#SignOut">Sign Out</a>
    </div>
}
else
{
    <div class="navbar">
        <a href="#SignIn">Sign In</a>
        <a href="#SignUp">Sign Up</a>
    </div>    
}

<h1>WELCOME TO <img src="/images/Fora - Logo.png" width="150" height="75"/></h1>

<h3>Sign in</h3>
<EditForm Model="User" OnValidSubmit="SignInUser">
    <DataAnnotationsValidator/>
    <div>
        <label>Username:</label>
        <InputText @bind-Value="User.Username" placeholder="Username" class="form-control mb-2"></InputText>
    </div>
     <div>
        <label>Password:</label>
        <InputText type="password" @bind-Value="User.Password" placeholder="Password" class="form-control mb-2"></InputText>
    </div>
     <div>
        <button type="submit" class="btn btn-primary">Sign In</button>
            <a class="align-right" href="SignUp">Not a member? Sign up here!</a>
     </div>
    <ValidationSummary/>
</EditForm>


@code{
    public SignInModel User { get; set; } = new();
    public UserStatusDTOModel UserStatus { get; set; }
    private bool SignedIn;

    protected override async Task OnInitializedAsync()
    {
        var token = await localStorage.GetItemAsync<string>("Token");
        token = token.Replace("\"", "");

        UserStatus = await UserManager.CheckUserLogin(token);

        if(UserStatus.IsLoggedIn == true)
        {
            SignedIn = true;
        }
        else
        {
            SignedIn = false;
        }
    }

    private async Task SignInUser()
    {
        var storageList = await UserManager.SignInUser(User);
        
        if(storageList != null)
        {
            NavigationManager.NavigateTo($"/Welcome");
        }          
    } 
    
}