@page "/SignOut"
@inject IUserManager UserManager
@inject NavigationManager NavigationManager

<div class="form-control">
    <a class="btn btn-group" href="/MyPage"><b>My Page</b></a>
    <a class="btn btn-group" href="/AllInterests"><b>All Interests</b></a>
    <a class="btn btn-group" href="/SignOut"><b>Sign Out</b></a>
</div>
<br />

<div>
    <h3>Sign Out</h3>
    <em class="mb-2">Are you sure you want to sign out?</em>
    <div>
        <button class="btn btn-primary" "mr-4" @onclick="StaySignedIn">Cancel</button> <button class="btn btn-danger" @onclick="SignOutWebb">Sign Out</button>
    </div>
</div>

@code {
    private bool SignedIn;
    public async void SignOutWebb()
    {
        await UserManager.SignOutUser();

        NavigationManager.NavigateTo("/");
    }

    public void StaySignedIn()
    {
        NavigationManager.NavigateTo("/MyPage");
    }
}
