@page "/signup"
@inject IUserManager UserManager
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager NavigationManager

<h3>Sign Up</h3>

<EditForm Model="UserToAdd" OnValidSubmit="SignUpUser">
    <DataAnnotationsValidator/>
    <div>
        <label>Username:</label>
        <InputText @bind-Value="UserToAdd.Username" placeholder="Username" class="form-control"></InputText>
    </div>
     <div>
        <label>Password:</label>
        <InputText type="password" @bind-Value="UserToAdd.Password" placeholder="Password" class="form-control"></InputText>
    </div>
    <div>
        <label>Verify password:</label>
        <InputText type="password" @bind-Value="UserToAdd.VerifiedPassword" placeholder="Verify Password" class="form-control"></InputText>
     </div>
     <br />
     <div>
        <button type="submit" >Sign Up</button>
     </div>
    <ValidationSummary/>
</EditForm>


@code{
    public UserDTOModel UserToAdd { get; set; } = new();

    private async Task SignUpUser()
    {
        var localStorageList = await UserManager.SignUpUser(UserToAdd);
        string token = localStorageList[0];
        string name = localStorageList[1];

        // Add token to the local storage (blazore)
        UpdateLocalStorage(token, name);

        if(token != "Could create user")
        {
            NavigationManager.NavigateTo("/Welcome");
        }
    }

    public async void UpdateLocalStorage(string tokenToAdd, string name)
    {
        await localStore.SetItemAsync("Token", tokenToAdd);
        await localStore.SetItemAsync("Name", name);
    }

    //public async void ClearLocalStorage()

    //{
    //    noteContent = "";
    //    await localStore.ClearAsync();
    //}                                                             ///Ska läggas till vid utloggning





}
