@page "/threads"
@inject IDataManager DataManager

<h3>What are you curious about?</h3>
@foreach(var thread in allThreads)
{
    <a href="/Message">@thread.Name</a><br />
}


@code {
    public List<ThreadModel> allThreads { get; set; } = new();
    int id = 13;

    protected override async Task OnInitializedAsync()
    {        
        allThreads = await DataManager.GetAllThreads(id);
    }
    
}
