@page "/Welcome"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="row">
    <img src="/images/Fora - Logo.png" width="500" height="400"/>
</div>
<div class="text-center">
    <h1>Welcome, </h1>
</div>

@code {

    public bool isLoggedIn { get; set; }
    public bool isAdmin { get; set; }
    protected override async Task OnInitializedAsync()
    {

        //allUsers = await Http.GetFromJsonAsync<List<SignInModel>>("/api/users"); 

        // Varje sida som kräver att man är inloggad:

        // 1. Skicka token till api i onInitializedAsync
        var token = await localStorage.GetItemAsStringAsync("Token");

        token = token.Replace("\"", "");



    // 2. Sätt en bool som representerar inloggad state och admin state

    // 3. Rendera endast delar av sidan som man ska se m.h.a. bools:arna
    }

    
}
