@page "/Welcome"
@inherits LayoutComponentBase
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUserManager UserManager



    <div class="card-body bg-info">
        <a class="btn btn-group" href="/MyPage"><b>My Page</b></a>
        <a class="btn btn-group" href="/AllInterests"><b>All Interests</b></a>
        <a class="btn btn-group" href="/SignOut"><b>Sign Out</b></a>
    </div>
    <br />



<div class="row">
    <img src="/images/Fora - Logo.png" width="500" height="400"/>
</div>
<div class="text-center">
    <h2>"Where dreams are discussed"</h2>
</div>

@code {
    

   
}
