@page "/Welcome"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUserManager UserManager

<div class="row">
    <img src="/images/Fora - Logo.png" width="500" height="400"/>
</div>
<div class="text-center">
    <h1>Welcome, </h1>
</div>

@code {
    public UserStatusDTOModel UserStatus { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //*****CHECK USER LOGIN (att användas på alla sidor)
        //Hämtar token från localstorage
        var token = await localStorage.GetItemAsync<string>("Token");

        public bool isLoggedIn { get; set; }
        public bool isAdmin { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        // Hämta token
        var token = await localStorage.GetItemAsStringAsync("Token");
        token = token.Replace("\"", "");
        //kollar att user finns i databas med token
        var result = await UserManager.CheckUserLogin(token);
        UserStatus = result;

        // 3. Rendera endast delar av sidan som man ska se m.h.a. bools:arna

        // Checka user
        await UserManager.CheckUserLogin(token);
    }    
    
}
