@page "/Welcome"
@inherits LayoutComponentBase
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IDataManager Datamanager
@inject IUserManager UserManager


    @if (!ActiveUser.Deleted)
    {
        <div class="card-body bg-info">
    <a class="btn btn-group" href="/MyPage"><b>My Page</b></a>
        <a class="btn btn-group" href="/AllInterests"><b>All Interests</b></a>
        <a class="btn btn-group" href="/SignOut"><b>Sign Out</b></a>
    </div>
    }
    else
    {
        <h3>Your account is Deactivated. Reactivate?</h3>
        <a class="btn btn-group" @onclick="ResetDeleted" href="/MyPage"><b>Yes</b></a>
        <a class="btn btn-group" href=""><b>No</b></a>
    }
    
    <br />

<div class="row">
    <img src="/images/Fora - Logo.png" width="500" height="400"/>
</div>
<div class="text-center">
    <h2>"Where dreams are discussed"</h2>
</div>

@code {
    public UserModel ActiveUser { get; set; } = new();

    public async Task ResetDeleted()
    {
        UserManager.ChangeDeletedStateToFalse(ActiveUser);
    }   
}
