

    <EditForm OnSubmit="UpdatePassword">
         <div>
            <label>New Password:</label>
            <InputText @bind-Value="NewPassword" placeholder="Username" class="form-control"></InputText>
        </div>
    <br />
    <button type="submit" class="btn btn-warning">Change Password</button>
    </EditForm>
    
    

@code {

    public UserModel UserToChange { get; set; } = new();
    public string NewPassword { get; set; }


    //get username (UserTochange.name == username)


    //get new password
    //update password

    private void UpdatePassword()
    {
        
    }

}
