@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUserManager UserManager

<div class="page">
    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
  
}