@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="page">
    <div class="sidebar">
        @if(SignedIn == true)
        {            
            <SignedInNavMenu />
        }
        else
        {
            <NavMenu />
        }
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private bool SignedIn = true;
    public UserStatusDTOModel UserStatus { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    var username = localStorage.GetItemAsync<string>("Name");
    //    username = username.Replace("\"", "");

    //    UserStatus = await UserManager.CheckUserLogin(username);

    //    if (UserStatus.IsLoggedIn == true)
    //    {
    //        SignedIn = true;
    //    }
    //    else
    //    {
    //        SignedIn = false;
    //    }
    //}
}